[Unit]
Description=llm-sys Service
After=llm-sys.service
Requires=llm-sys.service

[Service]
Environment = LD_LIBRARY_PATH=/usr/local/lib:/usr/lib:/opt/lib:/opt/usr/lib:/soc/lib
ExecStart=/opt/m5stack/bin/llm_exttts
WorkingDirectory=/opt/m5stack
Restart=always
RestartSec=1
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
